body {
  margin: 0;
  padding: 0;
  font-family: "Tangerine";
  font-size: 18px;
  box-sizing: border-box;
}

/* general styles */

.container {
  max-width: 1200px;
  padding: 0 2em;
  margin: auto;
  border: black solid 1px;
}

li {
  list-style-type: none;
  line-height: 1.6;
}
.page {
  margin: auto;

  /* text-align: center; */
  margin-top: 5em;
  margin-bottom: 5em;
  /* margin-top: 3em; */
}
.a-link {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bolder;
  text-decoration: none;
  color: black;
}

/* typografy */

p {
  line-height: 1.6;
}
.main-title {
  font-family: montserratlight, serif, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: bolder;
}
.Subtitle {
  font-family: playfair_displaybold, serif, sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: bold;
}
h3 {
  font-family: serif, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: bolder;
}
h4 {
  font-family: sans-serif, serif, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: 1.6;
}

/* nav */

.nav {
  margin-top: 2.5em;
  position: relative;
  animation: headingNav;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}
@keyframes headingNav {
  0% {
    top: -1000px;
  }
  100% {
    top: 0px;
  }
}
.nav-container {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: space-between;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.nav-link:hover {
  background-color: chartreuse;
}
.email {
  list-style-type: none;
  font-size: large;
  font-weight: bold;
  animation: myanimation 5s infinite;
  /* animation-duration: 5s; */
}
@keyframes myanimation {
  0% {
    background-color: white;
  }
  25% {
    background-color: chartreuse;
  }
  50% {
    background-color: white;
  }
  75% {
    background-color: chartreuse;
  }
  110% {
    background-color: white;
  }
}

/* header */

.headerTitle-container {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* display: grid; */
}
.headerTitle-container h1,
.headerTitle-container h2 {
  position: absolute;
  /* font-size: 2.5rem;
  font-weight: 900; */
}
.color-ball {
  background-color: chartreuse;
  border-radius: 100%;
  width: 75px;
  height: 75px;
}

/* homepage */

.page-home {
  margin-top: 5em;
}
.headerTitle-container.home {
  /* border: 1px solid blue;
  display: flex;
  align-items: center; */
  position: relative;
  animation: heading;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}
@keyframes heading {
  0% {
    left: -1500px;
  }
  100% {
    left: 0px;
  }
}
.gridChild-home.profile-img-container {
  /* border: 1px solid yellow; */
  margin-top: 2em;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  /* margin-bottom: 5em; */
  /* order: 1; */
}
.gridChild-home h3,
.gridChild-home h4,
.gridParent-social-links,
.gridChild-home p,
.gridChild-home.profile-img-container {
  position: relative;
  animation: heading2;
  animation-duration: 5s;
  animation-timing-function: ease-out;
}
@keyframes heading2 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.profile-img {
  max-width: 270px;
  border-radius: 100%;
}
.gridParent-home {
  display: grid;
  justify-items: center;
}
.gridParent-social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.gridParent-social-links i {
  color: black;
  font-size: 3em;
  margin-top: 0.5em;
  padding: 8px;
}

/* contact page */

.contact-img {
  max-width: 400px;
  max-height: 200px;
}
.form-container {
  text-align: center;
  margin: auto;
}
.form-input {
  width: 80%;
  margin: 1em 0;
  height: 2em;
  padding: 0.8em;
  background-color: #f5f6f8;
  outline: none;
  border: 1px black solid;
}
.form-textarea {
  margin: 1em 0;
  background-color: #f5f6f8;
  width: 80%;
  height: 10em;
  padding: 0.8em;
  outline: none;
  border: 1px black solid;
}
.form-input:hover {
  border: 3px black solid;
}
.form-textarea:hover {
  border: 3px black solid;
}
.form-button {
  /* display: inline-block; */
  border: 2px solid black;
  border-radius: 10%;
  margin-top: 0.5em;

  padding: 1rem 2rem;

  text-decoration: none;
  background: white;
  color: black;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
}
.form-button:hover,
.form-button:focus {
  background: black;
  color: white;
}

/* cv page */

.skills {
  /* border: 1px solid orange; */
  grid-template-columns: 200px 200px;
  display: grid;
  /* justify-content: center; */
  gap: 1em;

  /* grid-template-columns: 10% 10%; */
}
.skill-category {
  /* text-align: left; */

  padding: 0;
  /* align-self: center; */
}
.skill-category.tooling {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
}

.skill-category.frameworks {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
}

.grid-child-skills {
  border: black dotted 3px;
  text-align: center;
  border-radius: 0%;
}

.grid-child-skills.one {
  grid-column: span 2;
  border: none;
}

.download-button {
  display: inline-block;
  border: 3px solid black;
  border-radius: 10%;
  margin-top: 1.5em;

  padding: 0.5rem 1.5rem;

  text-decoration: none;
  background: white;
  color: black;
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  cursor: pointer;
  text-align: center;
}

.download-button:hover,
.download-button:focus {
  background: black;
  color: white;
}

/* project page */

.project-grid {
  /* padding: 5em; */
  display: grid;
  /* grid-template-columns: 1fr; */
  margin-top: 1em;

  justify-items: center;
}
.grid-child {
  border: black 3px solid;
  border-radius: 5%;
  margin-top: 1em;
  padding: 1.5em;
}

.project-img {
  border: oldlace solid 2px;
  margin: auto;
}

/* about page */

.about-img-container {
  margin-top: 2em;
}

.about-img {
  max-height: 250px;
  max-width: 600px;
  border-radius: 100%;
  object-fit: cover;
}

/* extra small size */

@media only screen and (max-width: 518px) {
  .main-title {
    font-size: 50px;
  }
  .grid-child {
    padding: 0.5em;
    margin: 2em;
  }
}

/* big screen or everything bigger thann 916px */

@media only screen and (min-width: 916px) {
  /* general */

  .page {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .headerTitle-container {
    justify-content: left;
  }
  .main-title {
    font-size: 60px;
    order: 1;
  }

  /* nav */

  .nav {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }
  .nav-link {
    margin: 0.5em;
  }

  /* home page */

  .page-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
  }
  .gridChild-home.profile-img-container {
    margin-top: 0;
    display: normal;

    /* margin-bottom: 5em; */
    /* order: 1; */
  }
  .profile-img {
    width: 300px;
    height: 300px;

    border-radius: 100%;
  }
  .gridParent-home {
    grid-template-columns: auto auto;
    margin-bottom: 5em;
    /* align-items: center;
    justify-content: right;
    justify-items: start; */

    grid-auto-rows: minmax(100px, auto);
    border: 1px solid paleturquoise;
  }
  .gridChild-home {
    justify-self: start;
  }
  .gridParent-social-links {
    width: 70%;
  }
  .gridParent-social-links i {
    font-size: 4em;
    padding: 8px;
  }

  /* cv page */

  .work-education-container {
    display: flex;
  }
  .work-education-child {
    flex-basis: 60%;
    padding: 2em;
    padding-left: 0;
    padding-bottom: 0;
  }
  .skills {
    grid-template-columns: 300px 300px;
    justify-content: start;
  }
  .skill-category {
    text-align: center;
    padding: 0;
  }
  .download-button {
    margin-top: 1.5em;
    padding: 1rem 2rem;
    font-size: 2rem;
  }

  /*project page*/

  .project-grid {
    /* padding: 5em; */
    margin-top: 3em;
    justify-items: start;
    grid-template-columns: 30% 30%;
    column-gap: 2em;
    height: 35em;
  }
  .grid-child.one {
    align-self: start;
  }
  .grid-child.two {
    align-self: end;
  }
}
/* to fix

- freccia verde dopo il sottotitolo skills
- download working
- post request working
- projects da iserire
- curriculum page da sistemare

*/
